/** @format */
:root {
  --primary-color: #81ce43;
  --secondary-color: #599940;
  --white-color: #efffe8;
  --text-color: #070806;
  --LightTextColor: #cff1b2;
  --LightTextColor: #cff1b2;
}
body::-webkit-scrollbar {
  display: none;
}
.root {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App {
  width: auto;
}

/* Login Page */
