/** @format */

.studentQuizInstruction {
  width: auto;
  background: linear-gradient(to bottom, #efffe8, #82ce43a6, #599940),
    url(../public/Images/quizLiveBackground.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--text-color);
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem;
}
.studentQuizInstruction .instructions {
  list-style: square;
  line-height: 3rem;
}

.studentQuizInstruction h1 {
  padding-bottom: 2rem;
}
.studentQuizInstruction hr {
  margin-bottom: 2rem;
}
.studentQuizInstruction a {
  width: fit-content;
  margin: 2rem;
  align-self: center;
}
/* .studentQuizInstruction .subBtn {
 
} */
